@import '../../_default.scss';

.duoPage {
		position: absolute;
		display: flex;
		flex-direction: row;
		height: 100vh;
		width: 85vw;
}

//-----     LEFT SIDE     -----//

.leftSide {
		height: 100%;
		width: 50%;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		.leftBlock {
				position: relative;
				left: 5vw;
				height: fit-content;
				width: 100%;
				h1, p, form {
						position: relative;
						left: 1vw;
				}
		}
}


.formInput {
		background-color: $primary-text;
		color: white;
		border-radius: 4% / 30%;
		border: solid 1px #FFFFFF30;
		font-size: 2vh;
		height: 4vh;
		width: 14.9vw;
}
		
.formSubject{
		width: 30vw;	
		border-radius: 2% / 30%;
}

.formMessage{
		background-color: $primary-text;
		color: white;
		min-height: 20vh;
		min-width: 30vw;
		border-radius: 2% / 4%;
		border: solid 1px #FFFFFF30;
		font-size: 2vh;

}

.formButton {
		position: relative;
		background-color: $primary-text;
		color: $green-logo;
		height: 5vh;
		width: 5vw;
		left: 25.3vw;
		border-radius: 8% / 15%;
		border: solid 1px #FFFFFF30;
		font-size: 2.5vh;
}


//-----     RIGHT SIDE     -----//

.rightSide {
		height: 100%;
		width: 50%;
		float: right;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

.infoMap {
		position: absolute;
		text-align: left;
		top: 4vh;
		left: 2vw;
		z-index:3;

		span {
				color: $green-logo;
		}
}

.aboutContainer{
		height: 70%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: space-around;
		align-content: center;
		
		.aboutLinksOdd{
				position: relative;
				left: 5vw;
				height: 10vh;
				width: 15vw;
				border-radius: 20% 0% 0% 20% / 30%;
				background-image: linear-gradient(to right, #FFF, #FFFFFF40, #00000000);
				animation: leftToRight 4s ease-in;
		}
		.aboutLinksEven{
				position: relative;
				left: 22vw;
				height: 10vh;
				width: 15vw;
				border-radius: 0% 20% 20% 0% / 30%;
				background-image: linear-gradient(to left, #FFF, #FFFFFF40, #00000000);
				animation: rightToLeft 4s ease-in;
		}
}

@keyframes leftToRight {
		0%{ opacity:0; transform: translateX(-50px); };
		40%{ opacity:0; transform: translateX(-50px); };
		100%{ opacity:1; transform: translateX(0); };
}

@keyframes rightToLeft {
		0%{ opacity:0; transform: translateX(50px); };
		40%{ opacity:0; transform: translateX(50px); };
		100%{ opacity:1; transform: translateX(0); };
}

.skillsContainer{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		
		.circleTop{
				position: absolute;
				z-index: 3;
				height: 50vh;
				width: 50vh;
				border-radius: 50%;
				border: solid white;
				transform: translateY(-30%);
				animation: appearTop 4s ease-in;
		}
		.circleRight{
				position: absolute;
				z-index: 4;
				height: 50vh;
				width: 50vh;
				border-radius: 50%;
				border: solid white;
				transform: translate( 35%,35% );
				animation: appearRight 4s ease-in;
		}
		.circleLeft{
				position: absolute;
				z-index: 5;
				height: 50vh;
				width: 50vh;
				border-radius: 50%;
				border: solid white;
				transform: translate( -35%,35% );
				animation: appearLeft 4s ease-in;
		}
}

@keyframes appearTop{
		0% {opacity: 0; transform: translateY(-60%)}
		40% {opacity: 0; transform: translateY(-60%)}
		100% {opacity: 1; transform: translateY(-30%)}
}

@keyframes appearLeft{
		0% {opacity: 0; transform: translate(-65%,65%)}
		40% {opacity: 0; transform: translate(-65%,65%)}
		100% {opacity: 1; transform: translate(-35%,35%)}
}

@keyframes appearRight{
		0% {opacity: 0; transform: translate( 65%,65%)}
		40% {opacity: 0; transform: translate( 65%,65%)}
		100% {opacity: 1; transform: translate( 35%,35%)}
}

.contactMapContainer {
		position: absolute;
		height: 100vh;
		width: 40vw;
		right: 0;
		z-index:2;
}

