@import '../../_default.scss';

.loading {
		background-color: $primary;
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		box-shadow: 0px 0px .5vh .3vh black;
		animation: loading 2s ease-out;
		justify-content: center;
		align-items: center;
		z-index: 4;
}

@keyframes loading {
		0% {left: 0%}
		65% {left: 0%}
		100% {left: 100%}
}

.soundLogo {
		height: 15vh;
		width: 30vh;

		.soundImage {
				height:100%;
				width: 100%;
		}
		.soundAnim {
				background-color: $primary;
				box-shadow: 0px 0px .3vh .2vh $green-logo;
				height: 1vh;
				width: 1vh;
				border-radius: 50%;
				transform: translate( 13.8vw,-7.5vh );
				animation: sinusoide 1.3s infinite;
		}

		@keyframes sinusoide{
				0% {transform: translate( 0vw,-7.5vh )}
				5% {transform: translate( 1.2vw,-7.5vh )}
				7.5% {transform: translate( 1.9vw,-6.8vh )}
				15% {transform: translate( 2.7vw,-9vh )}
				22.5% {transform: translate( 3.65vw,-5.4vh )}
				30% {transform: translate( 4.6vw,-15vh )}
				37.5% {transform: translate( 5.5vw,-1.9vh )}
				45% {transform: translate( 6.4vw,-12.2vh )}
				55% {transform: translate( 7.35vw,-4.65vh )}
				62.5% {transform: translate( 8.2vw,-9.5vh )}
				70% {transform: translate( 9.1vw,-6vh )}
				77.5% {transform: translate( 10vw,-8.7vh )}
				85% {transform: translate( 10.95vw,-6.8vh )}
				92.5% {transform: translate( 11.75vw,-8.1vh )}
				95% {transform: translate( 12.6vw,-7.5vh )}
				100% {transform: translate( 13.8vw,-7.5vh )}
		}
}

.loadingText {
		color: $green-logo;
		font-size: 3vh;
}
