@import '../../_default.scss';

.navbar {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
		background-image: url('../../assets/wood.jpg');
}

/*-----     LOGO     -----*/

.logoContainer {
		position: absolute;
		top: 2%;
		height: 200px;
		width: 200px;
}

.logo {
		height: 100%;
		width: 100%;
		border-radius: 60%;
		background-color: $primary;
		box-shadow: 0px 0px 3px 5px $primary;
}

/*-----     MENU     -----*/

.menu {
		display: flex;
		position: absolute;
		top: 52%;
		transform: translate( 0,-50%);
		flex-direction: column;
		justify-content: center;

		.menuTop {
				display: flex;
				justify-content: space-around;

				.contact {
						position: relative;
						transform: translate( -47px,40px );
						text-decoration: none;
						color: black;
				}

				.off {
						transform: translate( -4px , 5px );
						text-decoration: none;
						color: black;
				}

				.about {
						position: relative;
						transform: translate( 40px,40px );
						text-decoration: none;
						color: black;
				}
		
				.activeLink {
						color: $active-light;
				}
		}

		.knob{
				height: 120px;
				width: 120px;
				border-radius: 50%;
				background-color: $light-gray;
				box-shadow: 0px 0px 5px 3px;
				margin: 10px;
				transition: all 1s;

				.knobMarker {
						background-color: $primary;
						height: 40px;
						width: 8px;
						border-radius: 30% 30% 20% 20%;
						transform: translate( 57px, -0.5px );
				}		
		}
		.knobAbout {
				transform: rotate(60deg);
		}
		.knobSkills {
				transform: rotate(120deg);
		}
		.knobProjects {
				transform: rotate(-120deg);
		}
		.knobContact {
				transform: rotate(-60deg);
		}

		.menuBottom {
				display: flex;
				justify-content: space-around;

				.skills {
						position: relative;
						transform: translate( 40px,-40px );
						text-decoration: none;
						color: black;
				}

				.projects {
						position: relative;
						transform: translate( -55px,-40px );
						text-decoration: none;
						color: black;
				}
		
				.activeLink {
						color: $active-light;
				}
		}
}


/*-----     SWITCHES     -----*/

.switches {
		display: flex;
		flex-direction: row;
		position: absolute;
		bottom: 5vh;
		
		.lightOff {
				background-color: black;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				box-shadow: 0px 0px 5px 2px;
				transform: translate(450%,-150%);
		}
		.lightOn {
				background-color: $active-light;
				
		}

		button {
				background-color: $light-gray;
				border-radius: 25%;
				box-shadow: 0px 0px 4px 3px black;
				width: 60px;
				margin: 10px;
				padding: 10px;

				.faMusic {
						height: 20px;
						width: 20px;
						color: $primary;
				}

				.flag {
						position: relative;
						height: 20px;
						width: 21px;
						display: flex;
						left: 20%;
						flex-direction: row;
						align-self: center;
						.flagBlue{
								background-color: blue;
								height: 100%;
								width: 7px;
								border-radius: 20% 0% 0% 20%;
						}
						.flagWhite{
								background-color: white;
								height: 100%;
								width: 7px;
						}
						.flagRed{
								background-color: red;
								height: 100%;
								width: 7px;
								border-radius: 0% 20% 20% 0%;
						}
				}
		}
}
