@import '../../_default.scss';

.displayBackground {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left:0;
		background-color: $primary;
		
}

.displayClip {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url(../../assets/matrix.jpg);
		cursor: none;
		transition: all .1s linear;
}

.displayClipShadow {
		position: absolute;
		height: 200px;
		width: 200px;
		transform: translate( -50%,-50% );
		border-radius: 50%;
		box-shadow:inset 0px 0px 5px 60px $primary;
		transition: all .2s linear;
}
