@import '../../_default.scss';


//-----     LEFT SIDE     -----//


.formInput {
		background-color: $primary-text;
		color: white;
		border-radius: 4% / 30%;
		border: solid 1px #FFFFFF30;
		font-size: 1.2rem;
		height: 2.5rem;
		max-width: 25rem;
		width: 40%;
}
		
.formSubject{
		max-width: 50.2rem;
		width: 80.5%;	
		border-radius: 2% / 30%;
}

.formMessage{
		background-color: $primary-text;
		color: white;
		height: 15rem;
		max-width: 50rem;
		width: 80%;
		border-radius: 2% / 4%;
		border: solid 1px #FFFFFF30;
		font-size: 1.2rem;

}

.formButton {
		position: relative;
		background-color: $primary-text;
		color: $green-logo;
		height: 3rem;
		width: 20%;
		border-radius: 8% / 15%;
		border: solid 1px #FFFFFF30;
		font-size: 1.7rem;
}


//-----     RIGHT SIDE     -----//


.infoMap {
		position: absolute;
		text-align: left;
		top: 8vh;
		left: 2vw;
		z-index:3;

		span {
				color: $green-logo;
		}
}

.contactMapContainer {
		position: absolute;
		height: 100vh;
		width: 45%;
		right: 0;
}

@media only screen and (max-width : 107.5em) {
		.contactMapContainer{
				width: 80%;
				left:10%;
		}
}

@media only screen and (max-width : 46em) {
		.formInput {
				font-size: 1rem;
				height: 2rem;
		}
		.formMessage{
				height: 15rem;
				font-size: 1rem;
		}
		.formButton {
				height: 2rem;
				font-size: 1.2rem;
		}
		.contactMapContainer{
				width: 100%;
				left: 0;
		}
}

@media only screen and (max-width : 32em) {
		.formInput {
				font-size: .8rem;
				height: 1.2rem;
		}
		.formMessage{
				height: 10rem;
				font-size: .8rem;
		}
		.formButton {
				height: 2rem;
				font-size: 1rem;
		}
}
