/*-----     DUO     -----*/

.duoPage {
		display: flex;
		flex-direction: row;
		height: 100vh;
}

.leftSide {
		height: 100%;
		width: 50%;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		.leftBlock {
				position: relative;
				left: 5vw;
				height: fit-content;
				width: 100%;
				h1, p {
						position: relative;
						left: 1vw;
				}
		}
}

.rightSide {
		height: 100%;
		width: 50%;
		float: right;
		text-align: center;
		outline: solid;
}


/*-----     GRID     -----*/

.gridPage{
		padding-left: 100px;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 90px;
}

.gridBox{
		height: 35vh;
		width: 35vw;
		outline: solid;
		background-color: yellow;
		opacity: 50%;
		text-align: center;
}
